* {
	box-sizing: border-box;
}
body {
  margin-right: 10%;
  margin-left: 10%;
}
main img {
	width: 15%;
	height: 15%;

}
main {
	margin-top: 5%;
	display: flex;

}
.introText {
	float: left;
	font-size: 14pt;
	padding-left: 70px;
	margin: 0;
}



