* {
  box-sizing: border-box
}
body {
  margin: 0;
  font-family: verdana, sans-serif;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 2%;
}

.topnav {
  overflow: hidden;
  background-color: #b0d3f0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #789ac7;
  color: black;
}

.topnav a.active {
  background-color: #4682b4;
  color: white;
}