/* Style tab links */
main {
  padding-top: 2%;
}
span {
  text-align: center;
  display: block;
  margin-top: 2%;
  font-size: 24pt;
  font-weight: bold;
  color: #4b78b4;

}
.tablinkMenu {
  background-color: #b0d3f0;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablinkMenu:hover {
  background-color: #789ac7;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontentMenu {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
