/* Style tab links */
body {
  margin-right: 10%;
  margin-left: 10%;
}
main {
  padding-top: 2%;
}
span {
  text-align: center;
  display: block;
  margin-top: 2%;
  font-size: 24pt;
  font-weight: bold;
  color: #4b78b4;

}
.tablinkMenu {
  background-color: #b0d3f0;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablinkMenu:hover {
  background-color: #789ac7;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontentMenu {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
h1 {
  margin-top: 0;
}
figure img {
  width: 100%;
}
.vidAndImg {
  display: flex;
  /*flex-direction: row;*/
  flex-wrap: wrap;
  /*justify-content: flex-start;*/
}
.vidAndImg figure   {
  width: 40%;
  margin:0;
}
.vid {
  width: 60%;
}
.tekst {
  width: 100%;
}
.assigArti figure img {
  width: 50%;
  height: 50%;
}
.assigArti figure {
  display: flex;
  flex-wrap: wrap;

}
.vidVR {
  display: flex;
  flex-wrap: wrap;
}
.imgVR {
  margin: 0;
  margin-right: 30px;
}

.imgBlue {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  margin: 0;
}

.imgBlue img {
  width: 33%;
  height: 50%;
  margin: 0;
}
.vrAs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 50px;
  width: 60%;
}
.vrAs img {
  width: 20%;
  height: 50%;
  margin: 0;
}
.imgBlueTurn {
  transform: rotate(90deg);
}
.vrVid {
  margin-top: 50px;

}





